@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --gradient-text: linear-gradient(103.22deg, #ffffff -13.86%, #c9c9c9 99.55%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #867246;
  --color-footer : #80a4ca;
  --color-blog: #042c54;
  --color-text: #fde8d7;
  --color-subtext: #917b4c;
}